{{- $osid := .chezmoi.os -}}
{{- if hasKey .chezmoi.osRelease "id" -}}
{{-   $osid = printf "%s-%s" .chezmoi.os .chezmoi.osRelease.id -}}
{{- end -}}

{{- $profile := "" -}}
{{- if not (env "CI") -}}
{{-   $profile = promptChoiceOnce . "profile" "Machine type" (list "personal" "td" "client" "none") -}}
{{- end -}}

[data]
    osid = {{ $osid | quote }}
    ci = {{ env "CI" | not | not }}
    profile = {{ $profile | quote }}
    git_identities = []
