{{- /* The macos image for github actions has these packages preinstalled and it is dumb */ -}}
{{ if (and (eq .chezmoi.os "darwin") (not .ci)) }}
brew "awscli"
brew "golang"
{{ end }}

{{/* Things that should only be installed on my personal machine */}}
{{ if (eq .profile "personal") }}
brew "ffmpeg"

cask "calibre"
cask "qflipper"
cask "steam"
{{ end }}

{{/* Things that should be installed on a personal or td machine */}}
{{ if (or (eq .profile "personal") (eq .profile "td")) }}
{{ if (and (eq .chezmoi.os "darwin") (not .ci)) }}
brew "mas"
mas "Paprika Recipe Manager 3", id: 1303222628
{{ end }}

brew "act"
brew "ansible"
brew "k9s"
brew "localstack"
brew "pipx"
brew "spacelift-io/spacelift/spacectl"

cask "alfred"
cask "discord"
cask "gcloud-cli"
cask "spotify"
cask "todoist"
{{ end }}

{{/* Things I only need on a client machine */}}
{{ if (eq .profile "client") }}
brew "openjdk"

cask "codex"
cask "cursor"
cask "cursor-cli"
cask "anypointstudio"

vscode "openai.chatgpt"
{{ end }}

{{/* Things that should be installed on all machines */}}
brew "chezmoi"
brew "gh"
brew "git"
brew "gpg"
brew "jq"
brew "mise"
brew "node"
brew "opentofu"
brew "poetry"
brew "telnet"
brew "terraform-docs"
brew "tflint"
brew "yq"

cask "1password"
cask "1password-cli"
cask "bartender"
cask "claude-code"
cask "docker-desktop"
cask "fantastical"
cask "google-chrome"
cask "iterm2"
cask "notion"
cask "obsidian"
cask "qobuz"
cask "session-manager-plugin"
cask "slack"
cask "visual-studio-code"

vscode "GitLab.gitlab-workflow"
vscode "GitHub.copilot"
vscode "GitHub.copilot-chat"
vscode "GitHub.vscode-github-actions"
vscode "golang.go"
vscode "Graphite.gti-vscode"
vscode "eamodio.gitlens"
vscode "esbenp.prettier-vscode"
vscode "HashiCorp.HCL"
vscode "hashicorp.terraform"
vscode "iliazeus.vscode-ansi"
vscode "ms-azuretools.vscode-containers"
vscode "ms-azuretools.vscode-docker"
vscode "ms-python.python"
vscode "vscjava.vscode-java-pack"
vscode "vscode-ext.sync-rsync"
vscode "WakaTime.vscode-wakatime"
