{{/* Need to do some special things inside of CI for mac */}}
{{- $ci:= env "CI" | not | not -}}

{{- /* The macos image for github actions has these packages preinstalled and it is dumb */ -}}
{{ if (and (eq .chezmoi.os "darwin") (not $ci)) }}
brew "awscli"
brew "golang"
{{ end }}

brew "act"
brew "asdf"
brew "chezmoi"
brew "gh"
brew "git"
brew "jq"
brew "localstack"
brew "mas"
brew "opentofu"
brew "poetry"
brew "saml2aws"
brew "sslscan"
brew "telnet"
brew "terraform-docs"
brew "tflint"
brew "yq"
brew "zsh"

cask "1password"
cask "1password-cli"
cask "alfred"
cask "bartender"
cask "discord"
cask "docker"
cask "dropbox"
cask "fantastical"
cask "google-chrome"
cask "handbrake"
cask "iterm2"
cask "notion"
cask "obsidian"
cask "qflipper"
cask "session-manager-plugin"
cask "slack"
cask "spotify"
cask "todoist"
cask "visual-studio-code"

{{/* we're going to skip mas installed apps in CI rather than sign into the app store */}}
{{ if (and (eq .chezmoi.os "darwin") (not $ci)) }}
mas "Pixelmator Pro", id: 1289583905
mas "Trello",         id: 1278508951
{{ end }}

vscode "GitLab.gitlab-workflow"
vscode "GitHub.vscode-github-actions"
vscode "golang.go"
vscode "eamodio.gitlens"
vscode "iliazeus.vscode-ansi"
vscode "hashicorp.terraform"
vscode "ms-python.python"
vscode "vscjava.vscode-java-pack"
vscode "WakaTime.vscode-wakatime"
