# Language
export LC_ALL=en_US.UTF-8
export LANG=en_US.UTF-8
export LANGUAGE=en_US.UTF-8

# 10ms for key sequences
export KEYTIMEOUT=1

# XDG
export XDG_CONFIG_HOME=$HOME/.config
export XDG_DATA_HOME=$HOME/.local/share
export XDG_CACHE_HOME=$HOME/.cache
export XDG_DESKTOP_DIR="$HOME/Desktop"
export XDG_DOCUMENTS_DIR="$HOME/Documents"
export XDG_DOWNLOAD_DIR="$HOME/Downloads"
export XDG_MUSIC_DIR="$HOME/Music"
export XDG_PICTURES_DIR="$HOME/Pictures"
export XDG_PUBLICSHARE_DIR="$HOME/Public"
export XDG_TEMPLATES_DIR="$HOME/Templates"
export XDG_VIDEOS_DIR="$HOME/Videos"

# Homebrew
{{- if eq .chezmoi.os "darwin" }}
eval "$(/opt/homebrew/bin/brew shellenv)"
{{- else }}
eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv)"
{{- end }}

# Configure brew bundle
export HOMEBREW_BUNDLE_FILE=$HOME/.Brewfile
export HOMEBREW_BUNDLE_NO_LOCK=true

# NVM
export NVM_DIR="$HOME/.nvm"
[ -s "$NVM_DIR/nvm.sh" ] && \. "$NVM_DIR/nvm.sh"  # This loads nvm
[ -s "$NVM_DIR/bash_completion" ] && \. "$NVM_DIR/bash_completion"  # This loads nvm bash_completion

# Add RVM to PATH for scripting. Make sure this is the last PATH variable change.
export PATH="$HOME/.rvm/bin:$PATH"

# Playdate path
export PLAYDATE_SDK_PATH=$HOME/Developer/PlaydateSDK

# Add python bin to path
export PATH="$HOME/Library/Python/3.8/bin:$PATH"

# Add home bin to path
export PATH="$HOME/bin:$PATH"

# Node stuff
export PATH="/opt/homebrew/opt/node/bin:$PATH"
export LDFLAGS="-L/opt/homebrew/opt/node/lib"
export CPPFLAGS="-I/opt/homebrew/opt/node/include"

source ~/.zaliases

# Created by `pipx` on 2025-09-08 15:19:01
export PATH="$PATH:$HOME/.local/bin"