tap "homebrew/cask"

{{/* Need to do some special things inside of CI for mac */}}
{{- $ci:= env "CI" | not | not -}}

{{- /* The macos image for github actions has these packages preinstalled and it is dumb */ -}}
{{ if (and (eq .chezmoi.os "darwin") (not $ci)) }}
brew "awscli"
brew "golang"
{{ end }}

{{- /* Mac only packages */ -}}
{{ if eq .chezmoi.os "darwin" }}
cask "iterm2"
brew "mas"
{{ end }}

brew "asdf"
brew "chezmoi"
brew "gh"
brew "git"
brew "localstack"
brew "saml2aws"
brew "telnet"
brew "terraform-docs"
brew "yq"
brew "zsh"

cask "1password"
cask "1password-cli"
cask "bartender"
cask "discord"
cask "docker"
cask "dropbox"
cask "google-chrome"
cask "obsidian"
cask "spotify"
cask "steam"
cask "toggl-track"
cask "tuple"
cask "viscosity"
cask "visual-studio-code"
cask "zoom"

{{/* we're going to skip mas installed apps in CI rather than sign into the app store */}}
{{ if (and (eq .chezmoi.os "darwin") (not $ci)) }}
mas "Alfred",         id: 405843582
mas "GoodNotes",      id: 1444383602
mas "Kindle",         id: 405399194
mas "Pixelmator Pro", id: 1289583905
mas "Slack",          id: 803453959
mas "Todoist",        id: 585829637
mas "Trello",         id: 1278508951
mas "Tweetbot",       id: 1384080005
{{ end }}