#!/bin/sh

[[ -d ~/.oh-my-zsh ]] && echo "🐢 oh-my-zsh already installed...moving on" || \
  (echo '🐢  Installing oh-my-zsh' && /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/ohmyzsh/ohmyzsh/master/tools/install.sh)")
