#!/bin/sh

# Install Homebrew
command -v brew >/dev/null 2>&1 || \
  (echo '🍺  Installing Homebrew' && /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)")

# Source profile paths
. ./.profile

# Install brew bundles
brew bundle install

# TODO: For some reason this command not found when running the script
# Add asdf plugins
# asdf plugin update --all 
# asdf plugin add terraform
# asdf plugin add terragrunt