#!/bin/bash

echo "🤠 Doing the things that don't fit in anywhere else"

locate test > /dev/null 2>&1
if [ $? -eq 0 ] 
then
    echo "🤙 Locate all setup"
else
    echo "🔍 Building the locate database"
    sudo launchctl load -w /System/Library/LaunchDaemons/com.apple.locate.plist
fi
