#!/bin/bash

# Install Homebrew
if ! command -v brew &> /dev/null
then
  echo '🍺  Installing Homebrew'
  /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
fi

  echo "👩‍💻 Sourcing shell config to make sure paths are set up"
  source ~/.zprofile

# Install brew bundles
echo "🍻 Installing homebrew packages"
brew bundle install
brew bundle --force cleanup

# TODO: For some reason this command not found when running the script
# Add asdf plugins
echo "⌨️ Installing asdf packages"
asdf plugin update --all 
asdf plugin add terraform
asdf plugin add terragrunt
asdf plugin add nodejs
asdf plugin-add java
asdf plugin-add kubectl
asdf plugin-add helm

. ~/.asdf/plugins/java/set-java-home.zsh

# reshim asdf in case there were updates
rm -rf ~/.asdf/shims && asdf reshim

# Install tools
asdf install