#!/bin/bash

if [[ -n $CI ]]
then 
    echo "🚫 Skipping github setup for CI"
    exit 0
fi

generate_keyfile ()
{
    local SERVICE=$1
    local FILE="$HOME/.ssh/id_rsa_$SERVICE"

    if [ ! -f "$FILE" ]; then
        echo "💻 Setting up ssh key for $SERVICE"
        ssh-keygen -f $FILE -q -N ""
    fi
}

generate_keyfile github
generate_keyfile gitlab

ssh git@github.com
RESULT=$?
if [ $RESULT -eq 0 ]; then
    # sign into github
    gh auth login -s admin:public_key --web

    if [[ -z "${GITHUB_KEY_NAME}" ]]; then
        echo "Enter a name for this key:"
        read key_name
    else
        key_name=${GITHUB_KEY_NAME}
    fi

    # push key into github and prompt for a name
    gh ssh-key add $FILE.pub --title $key_name
else
    echo "Github key already imported"
fi