#!/bin/bash
export NO_INTERACTIVE=true

# Install Homebrew
if test -d ~/.oh-my-zsh; then
  echo "🐢 oh-my-zsh already installed...moving on"
else
  echo '🐢  Installing oh-my-zsh'
  sh -c "$(curl -fsSL https://raw.githubusercontent.com/subtlepseudonym/oh-my-zsh/feature/install-noninteractive/tools/install.sh)"
fi
