#!/bin/bash

if [[ -n $CI ]]
then 
    echo "Skipping github setup for CI"
    exit 0
fi 

FILE=~/.ssh/id_rsa_github
if [ ! -f "$FILE" ]; then
    echo "💻 Setting up ssh key for github"

    # create an ssh key
    ssh-keygen -f $FILE -q -N ""

    # sign into github
    gh auth login -s admin:public_key --web

    if [[ -z "${GITHUB_KEY_NAME}" ]]; then
        echo "Enter a name for this key:"
        read key_name
    else
        key_name=${GITHUB_KEY_NAME}
    fi

    # push key into github and prompt for a name
    gh ssh-key add $FILE.pub --title $key_name
fi