#!/bin/sh

[[ -d ~/.oh-my-zsh ]] && echo "\n🐢 oh-my-zsh already installed...moving on\n" || \
  (echo '\n🐢  Installing oh-my-zsh\n' && /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/ohmyzsh/ohmyzsh/master/tools/install.sh)")
