#!/bin/sh

GREEN='\033[0;32m'
YELLOW='\033[0;33m'


declare -a to_install=(
    "ms-azuretools.vscode-docker"
    "ms-vscode-remote.remote-containers"
    "ms-vscode-remote.remote-ssh"
    "golang.go"
    "eamodio.gitlens"
    "iliazeus.vscode-ansi"
    "hashicorp.terraform"
    "wuwei.upload",
    "WakaTime.vscode-wakatime"
)

declare -a installed=`code --list-extensions`

echo "\n💻 Installing VSCode Extensions\n"
for i in "${to_install[@]}"
do
    if [[ ! ${installed[*]} =~ ${i} ]]; then
        printf "${GREEN}Installing ${i}\n"
        code --install-extension $i
    fi

    if [[ ${installed[*]} =~ ${i} ]]; then
        printf "${YELLOW}${i} previously installed\n"
    fi
done