name: Test install script
on: push
jobs:
  test:
    strategy:
      fail-fast: false
      matrix:
        platform: [ubuntu-latest, macos-latest]
    runs-on: ${{ matrix.platform }}
    steps:
      - uses: actions/checkout@v2
      - name: Run install script
        run: |
          echo "Creating a fake ssh key so that step gets skipped in the process"
          mkdir -p ~/.ssh
          touch ~/.ssh/id_rsa_github
          echo "Running Install Script in $(pwd)"
          echo | ./install.sh